.App {
  text-align: center;
  margin-top: 10%;
  background-color: #e3f2fd;
  height: 100vh;
  color: #0d47a1;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #0d47a1;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
